
/* nav{
  height: vh;
  width: 100%;
  background:linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
} */
html{
  margin:0 auto;
}
img{
  margin: 0 auto;
  padding: 0px;
  width: 500px;
  height: 300px;
  object-fit: cover;

}
.tab-container{
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.button-links{
  display: flex;
  flex-direction: row;

}
.button-links button{
  flex-basis: 167px;
  height:30px;
  border: 0px;
  font-family: Merienda One;

}
.button-links button:focus{
  border: none;
  outline: none;
}
/* Contents */
.content-container{
 display: flex;
 flex-direction: row;
 background: #fff;
}
.patterns{
  background-color: hsl(210,36%,96%);
}
.patterns.active{
  background: #fff;
}
.articles.active{
  display: block;
}
.articles{
  display: none;
}
